<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/static/bootstrap/js/jquery-3.3.1.min.js"></script>
		<title>Test Report</title>
	</head>
	
	<body leftmargin="8" marginwidth="0" topmargin="8" marginheight="4">
		<div>
			<table width="95%" cellpadding="0" cellspacing="0" 
				style="font-size:11pt; font-family:Tahoma,Arial,Helvetica,sans-serif">
				<tr>
					<th align="center" colspan="2"><br />
						<h1>构建信息</h1>
					</th>
				</tr>
				<tr>
					<td style="border:1px solid red">
						<ul>
							<li>项目名称 ： ${project_name}</li><br />
							<li>详细测试报告 ： <a href="">${project_url}测试报告</a></li>
							<li>触发原因 ： ${cause}</li><br />
							<li>项目 url ： <a href="">${project_url}</a></li><br />
						</ul>
					</td>
					<td style="border:1px solid red">
						<ul>
							<h2>job名称</h2><br />
							{% for i in dirsresult %}
							<li class="dir" name={{i}}><a href={{urllist[i]}}>{{i}}</a></li><br />
							{% endfor%}
						</ul>
					</td>
				</tr>
				<!--tr>
					<td colspan="2" align="center" style="border:1px solid red"><br />
						<h1>测试报告</h1>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<div class="report" id="report"></div>
					</td>
				</tr-->
			</table>
		</div>
		
	</body>
	<!--script type="text/javascript">
	    $(".dir").click(function(){
		var jobName = $(this).attr("name");
		alert(jobName);
		$.get("/detail/"+jobName,function(data,status){
		   alert(status);
		   alert(data);
		   $(".report").empty();
		   $(".report").append(data);
		});
	    });
	
	</script-->
</html>