<!DOCTYPE html>
<html>
    <head lang="en">
                <meta charset="utf-8">
                <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
                <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
                <script type="text/javascript" src="/static/bootstrap/js/jquery-3.3.1.min.js"></script>
                <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
                <script type="text/javascript" src="static/bootstrap/js/func.js"></script>
                
                <title>工具页面</title>
        </head>
    <body>
        <div class="auth-code">
            <br />
            <br />
            <ul>
                <span class="label label-info">获取验证码</span><br/><br/>
                <input id="auth_code" type="text" placeholder="请输入手机号" onkeydown="if(event.keyCode==13) {get_auth_code()}"/>
                    <a href="javascript:void(0)" class="get_auth_code" onclick="get_auth_code()">获取</a><br/><br/>
                <div class="code"></div>
                
            </ul>
        </div>
        
        
        <!--div class="hk-quote">
            <ul>
                <span class="label label-info">更改港股行情权限</span><br/><br/>
                <input id="hk_quote" type="text" placeholder="请输入手机号" />
                    <a href="javascript:void(0)" class="get_hk_quote">更改</a><br/><br/>
                <span class="message"></span>
            
            </ul>
        </div-->
        
        
        <div class="reset-trade-password-code">
            <ul>
                <span class="label label-info">重置交易密码短信验证码</span><br/><br/>
                <input id="id_no" type="text" placeholder="身份证号或者护照号" onkeydown="if(event.keyCode==13) {get_reset_code()}" />
                    <a href="javascript:void(0)" class="get_reset_code" onclick="get_reset_code()">获取</a><br/><br/>
                <div class="reset_code"></div>
            
            </ul>
        </div>
        
    </body>

</html>
